@media (max-width: 1024px) {
    .header .item-header-2 .wrap-img-loc     {
        display: none;
        visibility: hidden;
    }

}



@media (max-width: 768px) {
    .header     {
        min-width: 768px;
    }

}
  