body    {
    font-family: 'OpenSauceOneRegular';
    font-weight: normal;
}




/*item-header-1*/
.header {
    position: absolute;
    z-index: 9999999;
    width: 100%;
}

.header span    {
    font-size: 12px;
}

.item-header-1  {
    padding: 8px 32px;
    background-color: #f3f4f5;
    height: 32px;
}

.header .item-header-1 span {
    color: #929292;
    font-size: 12px;
}

.header .item-header-1 span:hover   {
    color: #3cbd44;
    cursor: pointer;
}

.header .item-header-1 img  {
    width: 14px;
}

.header .item-header-1 .navbar {
    text-overflow:ellipsis;
    white-space:nowrap;
}

/*item-header-2*/
.item-header-2  {
    padding: 8px 32px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.054) 0px 4px 6px -1px;
    height: 75px;
}

.item-header-2 .img-tokopedia   {
    width: 145px; 
}

.item-header-2 .text-kategory    {
    font-size: 12,5px;
    padding: 2px 5px;
    color: #929292;
}

.item-header-2 .text-kategory:hover  {
    color: #3cbd44;
    cursor: pointer !important;
    background-color: #f3f4f5 !important;
    border-radius: 5px;
}

.item-header-2 span {
    color: #929292;
}

.item-header-2 .img-search,
.item-header-2 .img-shop   {
    width: 18px;
}

.item-header-2 .wrap-search {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 35px;
}

.item-header-2 .wrap-search .form-control   {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    z-index: 1;
}

.item-header-2 .wrap-search .form-control::placeholder   {
    color: #cdcdcd;
    font-size: 14px
}

.item-header-2 .wrap-search .form-control:focus   {
    box-shadow: none;
    border: 1px solid #03ac0e ;
}

.item-header-2 .wrap-search .wrap-icon-search   {
    background-color: #f3f4f5;
    position: absolute;
    right: 0;
    height: 100%;
    width: 32px;
}

.item-header-2 .wrap-search .wrap-icon-search .img-search   {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 9999;
}

.item-header-2 .wrap-search .wrap-icon-search .img-search:hover   {
    background-color: #3d3d3d;
    
}

.item-header-2 .wrap-img-shop  {
    position: relative;
    background-color: transparent;
    height: max-content;
    width: max-content;
    padding: 0px 8px 5px 8px;
    border-radius: 8px;
}

.item-header-2 .wrap-img-shop:hover,
.item-header-2 .wrap-search .wrap-img-shop .img-shop  {
    background-color:#f3f4f5 ;
    cursor: pointer;
}

.line   {
    font-size: 26px;
    color: #cdcdcd;
    margin-bottom:8px ;
    font-weight: 100;
    
}
.header .btn    {
    border-radius: 8px;
    font-size: 13px;
    background-color: #03ac0e;
}
.header .btn:first-child    {
    background-color: #ffffff;
    color: #03ac0e;
    border: 1px solid #03ac0e;
}

.recomendation  {
    position: absolute;
    left: 232px;
    top: 80px;
    width: 45%;
    display: flex;
}

.recomendation span  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12,5px;
 
}

.recomendation span:hover  {
    color: #03ac0e;
    cursor: pointer;
}

.qr-code-popup    {
    background-color: #ffffff;
    display: flex;
    position: absolute;
    padding: 30px 20px;
    top: 32px;
    left: 30px;
    z-index: 999999999999;
    border-radius: 10px;
    box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.1);
    visibility: hidden;
}

.qrCodeStyle    {
    visibility: visible;
}

.qr-code-popup .qr-code    {
    padding: 5px;
    border: 1px solid #43c086;
    border-radius: 10px;
}

.qr-code-popup p {
    text-align: center;
    font-weight: 490;
}

.qr-code-popup .download-on {
    align-items: center;
    margin: 0px auto;
}

.menu-bar   {
    display: flex;
    position: absolute;
    right: 35px;
    top: 80px;
    background-color: #ffffff;
    border-radius: 0px 0px 12px 12px;
    padding: 10px 30px;
    box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.1);
    visibility: hidden;
    z-index: 9999999;
}

.menuBarStyle   {
    visibility: visible !important;

}

.menu-bar img{
    width: 45%;
}

.menu-bar h4{
    font-size: 15px;
    font-weight: bold;
}

.menu-bar p{
    font-size: 13px;
    color: #31353bad;
}

.transparent-black  {
    background-color: rgba(0, 0,0,0.5);
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    visibility: hidden;
}

.blockStyle {
    visibility: visible;
}

.item-header-2 .wrap-img-loc    {
    position: absolute;
    display: flex;
    top: 75px;
    right: 60px;
    cursor: pointer;
    align-items: center;
}

.item-header-2 .wrap-img-loc .bi-geo-alt   {
    font-size: 11px;
}

.wrap-img-loc  .text-location   {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%
}


.gif-promo-tokopedia    {
    position: absolute; 
    right: 70px;
    bottom: 90px; 
    width: 100px; 
    display: block;
    z-index: 99999;
}

/* Main */

main    {
    width: 1208px;
    margin: auto;
}

/* Carousel-Slideshow*/

.carousel   {
    position: relative;
    cursor: pointer;
    top: 136px;
    margin: auto; 
}


.carousel-indicators    {
    justify-content: left;
    margin-left: 3%;
}

.carousel-indicators [data-bs-target] {
    /* box-sizing: content-box; */
    flex: 0 1 auto;
    width: 10px; /* change width */
    height: 10px; /* change height */
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    /* background-color: #fff; */
    /* background-clip: padding-box; */
    border: 0;
    /* border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; */
    opacity: .5;
    /* transition: opacity .6s ease; */
    border-radius: 100%; // /* add border-radius */
}

.user-category  {
    position: relative;
    z-index: 99999;
    top: 160px;
    border-radius: 10px;
}

.user-category span  {
    font-size: 20px;
    color: rgba(49, 53, 59, 0.96);
    margin-left: 7px;
}

.gallery-slide  {
    height: 120px;
    width: 480px;
}

.border-carousel img   {
    border: 1px solid #e5e7e9;
    border-radius: 10px;
    width: 120px;
    cursor: pointer;
}

.see-all span   {
    font-size: 14px;
    color: #03ac0e;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

.see-all span:hover   {
    color: #129062;
    cursor: pointer;
}

.top-up {
    position: relative;
    border: 1px solid #e5e7e9;
    border-radius: 10px;
    top: 10px;
}

.navbar-topup .navbar-topup-button  {
    padding: 8px 24px;
    font-weight: 600;
    cursor: pointer;
    color: #a5a6a9;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.etc-button i {
    border-left: 1px solid inherit;
}

.etc-button i   {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

.nomor-telepon  {
    position: relative;
    display: flex;
    flex: 1 1 0px;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 0px;
}

.top-up-content label  {
    font-size: 12px;
    font-weight: bolder;
    color: rgba(49, 53, 59, 0.68);
    font-family: inherit;
}

.nomor-telepon .form-control    {
    min-width: 0;
    min-height: 0;
    width: 100%;
    color: var(--color-text-high,rgba(49,53,59,0.96));
    font-family: inherit;
    background-color: transparent;
    line-height: 20px;
    outline: none;
    height: auto;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nomor-telepon .form-control::placeholder   {
    color: #cdcdcd;
    font-size: 12px;
}

.nomor-telepon .form-control:focus  {
    box-shadow: none;
    border: 1px solid #03ac0e;
}

.nominal button {
    border-radius: 8px;
    background-color: #e5e7e9;
    border: none;
    height: 38px;
}

.nominal button img {
    color: #6c727c;
    filter: #6c727c;
}

.btn-buy button {
    border-radius: 8px;
    background-color: #e5e7e9;
    border: none;
    background-color: var(--N75,#E5E7E9);
    border: none;
    color: var(--N400,#6C727C);
    cursor: not-allowed;
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 0.857143rem;
    height: 37px;
    line-height: 24px;
    outline: none;
    position: relative;
    padding: 0px 0px;
    text-indent: initial;
    transition: background-color 300ms ease 0s;
    width: 100%;
    font-size: 12px;
}

.carousel-recommendation .item-scroll   {
    width: 150px;
}

.carousel-recommendation .item-scroll span  {
    font-size: 10px;
}